
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family:'Times New Roman', Times, serif;
    background-color: #FAD1D1; 
    color: #333333; 
    padding: 20px;
    line-height: 1.8;
}

header {
    background-color: #333333; 
    color: white;
    padding: 22px;
    text-align: center;
}

header h1 {
    font-size: 3.2rem;
}

nav ul {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white; 
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #FAD1D1; 
    color: #333333; 
    border-radius: 5px;
}
.logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden;
    background-color: white; 
    border: 2px solid #fff; 
}

.logo-container .logo {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

@media (max-width: 768px) {
    .logo-container {
        width: 80px; 
        height: 80px; 
    }
}

@media (max-width: 480px) {
    .logo-container {
        width: 60px; 
        height: 60px; 
    }
}
main {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}

main section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333333; 
}

main section p {
    color: #555;
    font-size: 1.1rem;
    margin-bottom: 20px;
}


footer {
    text-align: center;
    margin-top: 100px;
    background-color: #333333; 
    color: white;
    padding: 60px 0;
}
footer p {
    font-size: 1rem;
}
